.RankFirst{
	background-color: #8B4AC4;

}

.RankSecond{
	background-color: #657FB0;
}

.RankThird{
	background-color: #ABD27C;
}

.RankFourth{
	/*yellow*/
	 background-color: #F8E730;
}

.RankFifth{
	/*red*/
	background-color : #CD4B56;
}