.Campaign{
	width:27%;
	text-align: center;
	margin:20px;
}
.CampaignBody{
	width:100%;
	margin: 10% 0%;
}
.CardHead{
	text-align: center;
}

.Link{
	color:white;
}
.Link:hover{
	color : white;
	text-decoration: none;
}

.progressImage{
	width:10px;
	height:10px;
	margin-left:10px;
}