.Section{
	margin-top:5%;
}
.HiddenSection{
	margin-top:1%;
	height:100px;
	overflow-y: scroll;
}

.TextField{
	height: 100%;
	width:100%;
	border: 0;
	border-bottom: black solid 1px;
}

.TPTextField{
	width:100%;
	height: 200px;
	border:black solid 1px;
}


.Title{

}
.InputSection{
	
}

.Btn{
	background-color: #cb4d58;
	margin-left:10px;
}

.Btn:hover{
	background-color: white;
	border:1px solid #cb4d58;
	color : #cb4d58;
}

.DatePicker{
	border:0;
	border-bottom: black solid 1px;
	width: 100%;
}

.QuestionnaireItem{
	height: 100%;
	border-bottom: black solid 1px;
}

.AddLocation{
	border : 1px solid black;
	padding: 5% 10%;
}

.RemoveBtn{
	width:20px;
	height:20px;
	margin-left:20px;
}

.ManagerItem{
	margin-bottom: 10px;
}
.ManagerListName{
	text-align: center;
}

.ManagerListBtn{
	text-align: center;
}

.ManagerListBtn button{
	background-color: #cb4d58;
}

.ManagerListBtn button:hover{
	background-color: white;
	border:1px solid #cb4d58;
	color : #cb4d58;
}