.SidebarItemLink{
	color : black;
	margin-bottom : 20px;
}
.SidebarItemLink:hover{
	text-decoration: none;
}

.SidebarItem{
	padding:  10px;
}

.Sidebar{
	
}

.Toolbar{
	border-bottom: black solid 1px;
	padding:10px;
	padding-left:2%;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.TitleSection{
	font-family: 'Raleway', sans-serif;
}

.OtherSection{
	font-family: 'Raleway', sans-serif;
}

.OtherItem{
	margin-right:20px;
}