.SidebarItemLink{
	color : black;
	margin-bottom : 20px;
}
.SidebarItemLink:hover{
	text-decoration: none;
}

.SidebarItem{
	padding:  10px;
}

.Sidebar{
	position: fixed;
	border-right: 1px solid black;
	height: 100vh;	
}

.Toolbar{
	border-bottom: black solid 1px;
	padding:10px;
	padding-left:2%;
	width:100%;
	height:40px;
	z-index:200;
	background-color: white;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.TitleSection{
	font-family: 'Raleway', sans-serif;
}

.OtherSection{
	font-family: 'Raleway', sans-serif;
}

.OtherItem{
	margin-right:20px;
}

.Name{
	color : #cb4d58;
}

.Name:hover{
	color : #777;
	cursor: pointer;
}

.SignOut:hover{
	color : #777;
	cursor: pointer;
}





.RoleDropDown{
	list-style: none;
	border : 1px solid black;
	margin:5px;
	position: absolute;
}

.RoleDropDown ul{
	padding:0px;
	margin:0px;
	/*z-index: 10;*/

}

.roleItem{
	list-style: none;
	padding:5px 10px;
	border-bottom: 1px solid black;	
}

.roleItem:hover{
	background-color: #cb4d58;
	color : white;
}

.Visible{
	visibility: inline-block;
}
.Invisible{
	display: none;
}
