

/* Manager*/
.ManagerBody{
	text-align: left;
	margin-top:2%;
	
}

.ManagerSection{
	margin-top:2%;
	width:70%;
}

.Manager{
	margin-top: 1%;
}

/*Date*/
.DateSection{
	margin-top:5%;
	text-align: center;
	width:100%;

}

.DateBody{
	width:50%;
}

.Title{
	padding-left:10%;
}

/*Talking Point*/
.TPSection{
	margin-top:5%;
	text-align: center;
	width:70%;
}

.TPBody{
	width:70%;
}

/*Questionnaire*/
.QNRSection{
	margin-top:5%;
	text-align: center;
	width:70%;
}

.QNRBody{
	margin-top:5%;
	width:70%;
}

.ViewBtn{
	border: 1px solid black;
}

/*QNRList */

.QNRListSection{
	margin-top:5%;
	text-align: center;
	width:100%;
}
.QNRListBody{
	margin : 5% 0;
	width:100%;
}

.QNRCompBtn{
	margin-left:2%;
}
.QNRItem{
	margin-top:10px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	font-size:15px;
}

.QNRComp{
	margin-top:5%;
}

/*VisitDuration*/
.VDSection{
	margin-top:5%;
	text-align: center;
	width:70%;
}

.VDBody{
	margin-top:5%;
	width:70%;
	font-weight: bold;
	font-size: 30px;
	color : #cb4d58;
	font-family: 'Raleway', sans-serif;
}

.TasksSection{
	margin-top:5%;
	text-align: center;
	width:100%;

}
.TasksBody{
	margin-top:5%;
	width:100%;
}

.TaskCard{
	width:30%;
	text-align: center;
	margin:10px;
}

.TaskCardBody{
	width:100%;
	margin-top:30%;
}
.TaskCardBtn{
	background-color: #cb4d58;
}

.TaskCardBtn:hover{
	background-color: white;
	border:1px solid #cb4d58;
	color:#cb4d58;
}


/**Edit**/
.DatePicker{
	border:0;
	border-bottom: black solid 1px;
	width: 100%;
}

.TPTextField{
	width:100%;
	height: 200px;
	border:black solid 1px;
}