#mapid { height: 180px; }

.leaflet-container{
	width:100%;
	height: 100%;
}

img.leaflet-marker-icon{
	display: none;
}

.leaflet-tooltip{
	height: 30px;
  	width: 30px;
	border-radius : 50%;
	background-color: #cb4d58;
	border:none;
	color : white;
	padding:10px;
}