.taskDetailHead{
	color : #cb4d58;
}

.TaskDetailContainer{
	text-align: center;
	margin-top:70px;
}

.ItemSection{
	text-align: center;
	display: inline-flex;
	margin-bottom: 30px;
}

.ItemTitle{
	font-weight: bold;
	color : #555;
}

.btnSection{
	text-align: center;
}

.ViewBtn{
	border:1px solid #cb4d58;
	background: #fff;
	color: #cb4d58;
}

.ViewBtn:hover{
	border:1px solid #cb4d58;
	background: #cb4d58;
	color: #fff;
}

.GoBackBtn{
	border:1px solid black;
	background: #fff;
}


.LocationContainer{
	text-align: center;
}

.MapHeader{
	color:#cb4d58;
	font-size:20px;
	margin-top:10px;
	margin-bottom: 20px;
}
.MapZone{
	width:100%;
	height:500px;
}

.LocationList{
	text-align: center;

}
.LocationListHeader{
	color:#cb4d58;
	font-size:20px;
	margin-top:50px;
	margin-bottom: 20px;
}

.LocationListBody{
	text-align: center;
	display: inline-block;

}

.LocationItem{
	border-bottom:1px solid black;
	margin-bottom:20px;

}