.nest {
  padding-left: 200;
  color: black;
}

.btn-group:focus {
  color: white;
  background-color: red;
  border-color: red;
}

.btn-group {
  color: red;
  background-color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: red;
  color: white;
  font-weight: bold;
}

.edit-btn {
  color: white;
  background-color: red;
}

.edit-row {
  width: 500px;
  border-bottom: 1px solid #aaa;
}

.add-user-box {
  width: 400px;
}

.add-btn {
  padding-left: 100;
}
